
@font-face {
  font-family: 'Gentium Plus';
  font-weight: bold;
  font-style: italic;
/*  src: local('Gentium Plus Bold Italic');
  src: local('Gentium Plus Bold Italic'),*/
  src: url("/swixknife/static/font/GentiumPlus-BoldItalic.woff2") format("woff2"),
       url("/swixknife/static/font/GentiumPlus-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'Gentium Plus';
  font-weight: normal;
  font-style: italic;
/*  src: local('Gentium Plus Italic');
  src: local('Gentium Plus Italic'),*/
  src: url("/swixknife/static/font/GentiumPlus-Italic.woff2") format("woff2"),
       url("/swixknife/static/font/GentiumPlus-Italic.ttf") format("truetype");
}

@font-face {
  font-family: 'Gentium Plus';
  font-weight: bold;
  font-style: normal;
/*  src: local('Gentium Plus Bold');
  src: local('Gentium Plus Bold'),*/
  src: url("/swixknife/static/font/GentiumPlus-Bold.woff2") format("woff2"),
       url("/swixknife/static/font/GentiumPlus-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Gentium Plus';
  font-weight: normal;
  font-style: normal;
/*  src: local('Gentium Plus Regular');
  src: local('Gentium Plus Regular'),*/
  src: url("/swixknife/static/font/GentiumPlus-Regular.woff2") format("woff2"),
       url("/swixknife/static/font/GentiumPlus-Regular.ttf") format("truetype");
}
