
@font-face {
  font-family: 'Andika';
  font-weight: bold;
  font-style: italic;
/*  src: local('Andika Bold Italic');
  src: local('Andika Bold Italic'),*/
  src: url("static/font/Andika-BoldItalic.woff2") format("woff2"),
       url("static/font/Andika-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'Andika';
  font-weight: normal;
  font-style: italic;
/*  src: local('Andika Italic');
  src: local('Andika Italic'),*/
  src: url("static/font/Andika-Italic.woff2") format("woff2"),
       url("static/font/Andika-Italic.ttf") format("truetype");
}

@font-face {
  font-family: 'Andika';
  font-weight: bold;
  font-style: normal;
/*  src: local('Andika Bold');
  src: local('Andika Bold'),*/
  src: url("static/font/Andika-Bold.woff2") format("woff2"),
       url("static/font/Andika-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Andika';
  font-weight: normal;
  font-style: normal;
/*  src: local('Andika Regular');
  src: local('Andika Regular'),*/
  src: url("static/font/Andika-Regular.woff2") format("woff2"),
       url("static/font/Andika-Regular.ttf") format("truetype");
}
