:root {
    --o-webclient-color-scheme: #212121;
    --theme: #212121;
    background-color: #212121;
    color: white;

    font-size: 1.5em;

    text-rendering: optimizeLegibility;
    font-variant-ligatures: common-ligatures;

    font-family: "Iosevka Sezimal Extended" !important;
/*     font-family: "Andika", "Iosevka Sezimal Extended"; */
    --font-family-sans-serif: "Iosevka Sezimal Extended", monospace, sans-serif;
    --font-family-monospace: "Iosevka Sezimal Extended", monospace;
}
html, body {
    height: 100%;
    background-color: #212121;
    color: white;
    margin: 0;
    max-width: 500px;
    width: 100%;
    position: relative;
    margin: auto;
}
.buttons {
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: center;
    width: 100%;
}
table {
    table-layout: fixed;
    width: 100%;
    border: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}
td {
    border: 5px;
    padding: 0;
    margin: 0;
}
button {
    font-family: "Iosevka Sezimal Extended";
    font-size: 30pt;
    font-weight: normal;
/*     font-style: italic; */
    width: 100%;
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
    border-radius: 12px;
    border: 0;
    padding: 0;
    margin: 0;
}
.button-clear {
    background-color: #D32F2F;
    color: white;

    &:hover {
        background-color: #FFCDD2;
        color: #D32F2F;
    }
}
.button-base {
    font-size: 26pt;
    background-color: #9E9E9E;
    color: white;

    &:hover {
        background-color: #F5F5F5;
        color: #9E9E9E;
    }
}
.button-arrow {
    background-color: #3F51B5;
    color: white;

    &:hover {
        background-color: #C5CAE9;
        color: #3F51B5;
    }
}
.button-back {
    background-color: #FF5722;
    color: white;

    &:hover {
        background-color: #FFCCBC;
        color: #FF5722;
    }
}
.button-digit {
    background-color: #8BC34A;
    color: white;

    &:hover {
        background-color: #DCEDC8;
        color: #8BC34A;
    }
}
.button-constant {
    background-color: #4CAF50;
    color: white;

    &:hover {
        background-color: #C8E6C9;
        color: #4CAF50;
    }
}
.button-tau {
    height: 102px;
    line-height: unset;

    background-color: #4CAF50;
    color: white;

    &:hover {
        background-color: #C8E6C9;
        color: #4CAF50;
    }
}
.button-zero {
    background-color: #3F51B5;
    color: white;

    &:hover {
        background-color: #C5CAE9;
        color: #3F51B5;
    }
}
.button-equal {
    background-color: #FF9800;
    color: white;

    &:hover {
        background-color: #FFE0B2;
        color: #FF9800;
    }
}
.button-math {
    background-color: #03A9F4;
    color: white;

    &:hover {
        background-color: #BBDEFB;
        color: #03A9F4;
    }
}
.button-operator {
    background-color: #2196F3;
    color: white;

    &:hover {
        background-color: #BBDEFB;
        color: #2196F3;
    }
}
.button-function {
    font-size: 22px;
    background-color: #9C27B0;
    color: white;

    &:hover {
        background-color: #E1BEE7;
        color: #9C27B0;
    }
/*    background-color: #009688;
    color: white;

    &:hover {
        background-color: #B2DFDB;
        color: #009688;
    }*/
}
.unit {
    font-size: 16pt;
    font-weight: normal;
    text-align: center;
    background-color: #212121;
    color: #F5F5F5;
}
.display {
    font-size: 42pt;
    font-weight: bold;
/*     font-style: italic; */
    text-align: right;
/*     width: 100%; */
/*    height: 215px;
    line-height: 65px;*/
    align-content: start;
    padding: 6px;
    background-color: #CFD8DC;
    color: #263238;
    word-wrap: break-word;
/*     padding-top: 20px; */
    font-variant-numeric: diagonal-fractions;
}
.spellout {
    font-size: 10pt;
    text-align: right;
    padding-top: 6px;
    word-wrap: break-word;
}
.decimal_display {
    font-size: 24pt;
    font-weight: normal;
    font-style: italic;
    text-align: right;
/*     width: 100%; */
/*     height: ; */
/*     line-height: 45px; */
    align-content: start;
    padding: 6px;
    border-bottom: 2px double #9E9E9E;
    background-color: #212121;
    color: #F5F5F5;
    word-wrap: break-word;
    font-variant-numeric: diagonal-fractions;
}
.niftimal_display {
    font-size: 18pt;
    font-weight: normal;
    font-style: normal;
    text-align: right;
    align-content: start;
    word-wrap: break-word;
    font-variant-numeric: diagonal-fractions;
}
.expression {
    font-size: 20pt;
    font-weight: normal;
/*     font-style: italic; */
    text-align: right;
    width: 100%;
    height: 100px;
    line-height: 40px;
    vertical-align: middle;
    border: 0;
    border-radius: 12px;
}
.settings {
    font-size: 12pt;

}
td.settings {
    vertical-align: top;
    word-wrap: break-word;
}
label {
    font-weight: bold;
    font-size: 12pt;
}

select {
    font-family: "Iosevka Sezimal Extended";
    font-size: 12pt;
}
select > option {
    font-family: "Iosevka Sezimal Extended";
}
option {
    font-family: "Iosevka Sezimal Extended";
}
option:before {
    font-family: "Iosevka Sezimal Extended";
}

.grouping-explanation {
    font-size: 12pt;

    .title {
        text-align: center;
        font-weight: bold;
    }
    td {
        font-size: 10pt;
        width: auto;
    }
}

.units {
    font-size: 12pt;
}
td.units {
    vertical-align: top;
    word-wrap: break-word;
}
.units-explanation {
    font-size: 12pt;
    text-align: left;

    .title {
        text-align: center;
        font-weight: bold;
    }
    td {
        font-size: 10pt;
        width: auto;
    }
}
.base-badge {
    font-weight: normal;
    font-style: italic;
    text-align: center;
    font-size: 9pt;
    position: absolute;
    left: 6px;
    mix-blend-mode: difference;
}
.configuration-left {
    font-weight: normal;
    font-size: 9pt;
    mix-blend-mode: luminosity;
    text-align: left;
    padding: 6px;
    white-space: nowrap;
/*    overflow: hidden;
    text-overflow: ellipsis;*/
}
.configuration-right {
    font-weight: normal;
    font-size: 10pt;
    mix-blend-mode: luminosity;
    text-align: right;
    padding: 6px;
    white-space: nowrap;
/*    overflow: hidden;
    text-overflow: ellipsis;*/
    border-bottom: 2px double #607D8B;
}
table.explanation {
    font-size: 7pt;
    padding: 6px;
    border: 1px white solid;
    border-collapse: collapse;
}
table.explanation td {
    font-size: 7pt;
    padding: 6px;
    border: 1px white solid;
    border-collapse: collapse;
}


