:root {
/*    --o-webclient-color-scheme: #212121;
    --theme: #212121;
    background-color: #212121;*/
    --o-webclient-color-scheme: black;
    --theme: black;
    background-color: black;
    color: #fafafa;

    font-size: 1.5em;

    text-rendering: optimizeLegibility;
    font-variant-ligatures: common-ligatures;

    font-family: 'Sezimal QP' !important;
/*     font-family: "Andika", "Iosevka Sezimal Extended"; */
    --font-family-sans-serif: 'Sezimal QP', monospace;
    --font-family-monospace: 'Sezimal QP', monospace;
}
html, body {
    height: 100%;
/*     background-color: #212121; */
    background-color: black;
    color: #fafafa;
    margin: 0;
    max-width: 500px;
    width: 100%;
    position: relative;
    margin: auto;
}
.buttons {
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: center;
    width: 100%;
}
table {
    table-layout: fixed;
    width: 100%;
    border: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}
td {
    border: 5px;
    padding: 0;
    margin: 0;
}
button {
    font-family: 'Sezimal QP';
    font-size: 30pt;
    font-weight: normal;
/*     font-style: italic; */
    width: 100%;
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
    border-radius: 12px;
    border: 0;
    padding: 0;
    margin: 0;
}
.button-clear {
    background-color: #D32F2F;
    color: #FFEBEE;

    &:hover {
        background-color: #FFCDD2;
        color: #D32F2F;
        font-weight: bold;
    }
}
.button-base {
    font-size: 26pt;
    background-color: #3F51B5;
    color: #E8EAF6;

    &:hover {
        background-color: #C5CAE9;
        color: #3F51B5;
        font-weight: bold;
    }
}
.button-punctuation {
    background-color: #00BCD4;
    color: #E0F7FA;

    &:hover {
        background-color: #B2EBF2;
        color: #00BCD4;
        font-weight: bold;
    }
}
.button-back {
    background-color: #FF5722;
    color: #FBE9E7;

    &:hover {
        background-color: #FFCCBC;
        color: #FF5722;
        font-weight: bold;
    }
}
.button-function {
    background-color: #00BCD4;
    color: #E0F7FA;
    font-size: 16pt;

    &:hover {
        background-color: #B2EBF2;
        color: #00BCD4;
        font-weight: bold;
    }
}
.button-digit {
    background-color: #4CAF50;
    color: #E8F5E9;

    &:hover {
        background-color: #C8E6C9;
        color: #4CAF50;
        font-weight: bold;
    }
}
.button-constant {
    background-color: #8BC34A;
    color: #F1F8E9;

    &:hover {
        background-color: #DCEDC8;
        color: #8BC34A;
        font-weight: bold;
    }
}
.button-equal {
    background-color: #FF9800;
    color: #FFF3E0;

    &:hover {
        background-color: #FFE0B2;
        color: #FF9800;
        font-weight: bold;
    }
}
.button-math {
    background-color: #2196F3;
    color: #E3F2FD;
    font-weight: bold;

    &:hover {
        background-color: #BBDEFB;
        color: #2196F3;
        font-weight: bold;
    }
}
.button-operator {
    background-color: #03A9F4;
    color: #E1F5FE;

    &:hover {
        background-color: #BBDEFB;
        color: #03A9F4;
        font-weight: bold;
    }
}
.unit {
    font-size: 16pt;
    font-weight: normal;
    text-align: center;
    background-color: #212121;
    color: #F5F5F5;
}
.display {
    font-size: 42pt;
    font-weight: bold;
/*     font-style: italic; */
    text-align: right;
/*     width: 100%; */
/*    height: 215px;
    line-height: 65px;*/
    align-content: start;
    padding: 6px;
    background-color: #CFD8DC;
    color: #263238;
    text-shadow: 2px 2px 5px #9E9E9E;
    word-wrap: break-word;
/*     padding-top: 20px; */
    font-variant-numeric: diagonal-fractions;
}
.spellout {
    font-size: 10pt;
    text-align: right;
    padding-top: 6px;
    word-wrap: break-word;
}
.decimal_display {
    font-size: 24pt;
    font-weight: normal;
    font-style: italic;
    text-align: right;
/*     width: 100%; */
/*     height: ; */
/*     line-height: 45px; */
    align-content: start;
    padding: 6px;
    border-bottom: 2px double #9E9E9E;
    background-color: #212121;
    color: #FAFAFA;
    text-shadow: 1px 1px 2px #9E9E9E;
    word-wrap: break-word;
    font-variant-numeric: diagonal-fractions;
}
.niftimal_display {
    font-family: 'Sezimal QP Light';
    font-size: 18pt;
    font-weight: normal;
    font-style: normal;
    text-align: right;
    align-content: start;
    word-wrap: break-word;
    font-variant-numeric: diagonal-fractions;
    padding-top: 6px;
    text-shadow: unset;
}
.expression {
    font-size: 20pt;
    font-weight: normal;
/*     font-style: italic; */
    text-align: right;
    width: 100%;
    height: 100px;
    line-height: 40px;
    vertical-align: middle;
    border: 0;
    border-radius: 12px;
}
.settings {
    font-size: 12pt;

}
td.settings {
    vertical-align: top;
    word-wrap: break-word;
}
label {
    font-weight: bold;
    font-size: 12pt;
}

select {
    font-family: 'Sezimal QP';
    font-size: 12pt;
}
select > option {
    font-family: 'Sezimal QP';
}
option {
    font-family: 'Sezimal QP';
}
option:before {
    font-family: 'Sezimal QP';
}

.grouping-explanation {
    font-size: 12pt;

    .title {
        text-align: center;
        font-weight: bold;
    }
    td {
        font-size: 10pt;
        width: auto;
    }
}

.units {
    font-size: 12pt;
}
td.units {
    vertical-align: top;
    word-wrap: break-word;
}
.units-explanation {
    font-size: 12pt;
    text-align: left;
    font-variant-numeric: diagonal-fractions;

    .title {
        text-align: center;
        font-weight: bold;
    }
    td {
        font-size: 10pt;
        width: auto;
    }
}
.base-badge {
    font-weight: normal;
    font-style: italic;
    text-align: center;
    font-size: 9pt;
    position: absolute;
    left: 6px;
    mix-blend-mode: difference;
}
.configuration-left {
    font-family: 'Sezimal QP';
    font-weight: normal;
    font-size: 12pt;
    mix-blend-mode: luminosity;
    text-align: left;
    padding: 6px;
    white-space: nowrap;
/*    overflow: hidden;
    text-overflow: ellipsis;*/
}
.configuration-right {
    font-family: 'Sezimal QP';
    font-weight: normal;
    font-size: 12pt;
    mix-blend-mode: luminosity;
    text-align: right;
    padding: 6px;
    white-space: nowrap;
/*    overflow: hidden;
    text-overflow: ellipsis;*/
    border-bottom: 2px double #607D8B;
}
.configuration-center {
    font-family: 'Sezimal QP';
    font-weight: normal;
    font-size: 14pt;
    mix-blend-mode: luminosity;
    text-align: center;
    padding: 6px;
    white-space: nowrap;
/*    overflow: hidden;
    text-overflow: ellipsis;*/
    border-bottom: 2px double #607D8B;
}
table.explanation {
    font-size: 7pt;
    padding: 6px;
    border: 1px #fafafa solid;
    border-collapse: collapse;
}
table.explanation td {
    font-size: 7pt;
    padding: 6px;
    border: 1px #fafafa solid;
    border-collapse: collapse;
}
.devanagari-word {
    font-family: 'Noto Sans Devanagari', sans-serif;
}
a {
    color: #fafafa;
    text-decoration: underline;
/*     color: #212121; */
/*     background-color: black; */
}

