:root {
    --o-webclient-color-scheme: #000;
    --theme: #000;
    background-color: #000;
    color: #fafafa;

    font-size: 1.5em;
    line-height: 1.885em;

    text-rendering: optimizeLegibility;
    font-variant-ligatures: common-ligatures;

    font-family: 'Andika', 'Sezimal QP', 'Sezimal Symbols', 'Noto Sans Hebrew', 'Noto Sans Arabic UI', 'Noto Sans Devanagari UI', 'Noto Sans Bengali UI', 'Inter Alia', 'Noto Sans Shavian', 'Noto Sans Symbols', 'Noto Sans Symbols2', sans-serif !important;
    --font-family-sans-serif: 'Andika', 'Sezimal QP', 'Sezimal Symbols', 'Noto Sans Hebrew', 'Noto Sans Arabic UI', 'Noto Sans Devanagari UI', 'Noto Sans Bengali UI', 'Inter Alia', 'Noto Sans Shavian', 'Noto Sans Symbols', 'Noto Sans Symbols2', sans-serif;
    --font-family-monospace: 'Sezimal Mono', 'Sezimal Symbols', 'Noto Sans Symbols', 'Noto Sans Symbols2', 'Noto Sans Mono', monospace;

    -webkit-font-feature-settings: "ss01", "cv31", "cv35", "cv39", "cv75", "cv70" 0, "cv01" 0, "cv04" 1, "cv06" 0, "cv07" 1;
    -moz-font-feature-settings: "ss01", "cv31", "cv35", "cv39", "cv75", "cv70" 0, "cv01" 0, "cv04" 1, "cv06" 0, "cv07" 1;
    -ms-font-feature-settings: "ss01", "cv31", "cv35", "cv39", "cv75", "cv70" 0, "cv01" 0, "cv04" 1, "cv06" 0, "cv07" 1;
    font-feature-settings: "ss01", "cv31", "cv35", "cv39", "cv75", "cv70" 0, "cv01" 0, "cv04" 1, "cv06" 0, "cv07" 1;
/*
    font-feature-settings: "dlig", "tnum", "ss03", "cv06", "cv08", "cv05";*/

}
html, body {
    height: 100%;
    background-color: #000;
    color: #fafafa;
    margin-left: 2%;
    margin-right: 2%;
/*     max-width: 864px; */
    width: 96%;
    position: relative;
/*     margin: auto; */
}
h1 {
    font-size: 2rem;
    line-height: 2.385rem;
}
h2 {
    font-size: 1.5rem;
    line-height: 1.885rem;
}
h3 {
    font-size: 1.17rem;
    line-height: 1.402rem;
}
h4 {
    font-size: 1rem;
    line-height: 1.385rem;
}
h5 {
    font-size: 0.83rem;
    line-height: 1.215rem;
}
h6 {
    font-size: 0.67rem;
    line-height: 1.055rem;
}
input, p, select, option {
    font-size: 1rem;
    line-height: 1.385rem;
}
input {
/*     height: 1.5rem; */
    vertical-align: middle;
}

.buttons {
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: center;
    width: 100%;
}
table {
    table-layout: fixed;
    width: 100%;
    border: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}
td {
    border: 5px;
    padding: 0;
    margin: 0;
}

.unit {
    font-size: 16pt;
    font-weight: normal;
    text-align: center;
    background-color: #212121;
    color: #F5F5F5;
}

.settings {
    font-size: 12pt;
}
td.settings {
    vertical-align: top;
    word-wrap: break-word;
}
label {
    font-weight: bold;
    font-size: 12pt;
}
select {
    font-family: 'Andika', 'Sezimal QP Light';
    font-size: 12pt;
    height: 2.5em;
    text-align: center;
}
select > option {
    font-family: 'Andika', 'Sezimal QP Light';
}
option {
    font-family: 'Andika', 'Sezimal QP Light';
}
option:before {
    font-family: 'Andika', 'Sezimal QP Light';
}

.units {
    font-size: 12pt;
}
td.units {
    vertical-align: top;
    word-wrap: break-word;
}

table.explanation {
    font-size: 12pt;
    padding: 6px;
    border: 1px #fafafa solid;
    border-collapse: collapse;
}
table.explanation td {
    font-size: 12pt;
    padding: 6px;
    border: 1px #fafafa solid;
    border-collapse: collapse;
}
.devanagari {
    font-family: 'Noto Sans Devanagari', sans-serif;
    font-size: 1.2em;
    line-height: 1.585rem;
}
a {
    color: #fafafa;
    text-decoration: underline;
/*     color: #212121; */
/*     background-color: black; */
}
a.devanagari {
    font-family: 'Noto Sans Devanagari', sans-serif;
    font-size: 1.2em;
    line-height: 1.585rem;
    text-decoration: none;
    color: #2E7D32;
}

.horizontal-flip {
    display: inline-block;
    transform: scale(-1, 1);
}
.vertical-flip {
    display: inline-block;
    transform: scale(1, -1);
}
.punctuation {
    display: inline-block;
    transform: scale(1, -1);
    padding-bottom: 0.3rem;
}
.help-text {
    font-size: 14pt;
    text-align: left;
    line-height: 2em;
/*     font-variant-numeric: diagonal-fractions; */
}
math {
    font-family: 'Andika', 'Sezimal QP Light', 'Noto Sans';
}
mn {
    margin: 6px;
}
.units-explanation {
/*     font-size: 14pt; */
    text-align: left;

/*     font-variant-numeric: diagonal-fractions; */

    .title {
/*         font-size: 18pt; */
        text-align: center;
/*         font-weight: bold; */
        color: #000;
        background: #fafafa;
    }
    .origin {
/*         font-weight: bold; */
        background: #666;
        color: #fafafa;
    }
    .conversion-title {
/*         font-weight: bold; */
        background: #666;
        color: #fafafa;
    }
    .decimal {
        font-style: italic;
        color: #777;
    }
    td {
/*         font-size: 10pt; */
        width: auto;
        line-height: 2em;
        overflow: hidden;
        text-overflow: '…';
    }
/*    mfrac {
        font-size: 18pt;
    }*/
    a {
        text-decoration: none;
        color: #2E7D32;
    }
    a.reference {
        text-decoration: none;
        color: #fafafa;
    }

}

}
.mono-text {
    font-family: 'Sezimal Mono', 'Sezimal Symbols', 'Noto Sans Mono', monospace;
    -webkit-font-feature-settings: normal;
    -moz-font-feature-settings: normal;
    -ms-font-feature-settings: normal;
    font-feature-settings: normal;
}
.center {
    text-align: center;
}

.tooltip {
  position: relative;
  display: inline-block;
  /* If you want dots under the hoverable text */
/*   border-bottom: 1px dotted #fafafa;  */
}

/* Tooltip text */
.tooltip .tooltip-text {
  visibility: hidden;
  width: 150px;
  background-color: #212121;
  color: #fafafa;
  font-size: 0.8rem;
  line-height: 1.5em;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #fafafa transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.dimension {
    font-family: 'Noto Sans', 'Noto Sans Math', 'Noto Sans Symbols', 'Noto Sans Symbols2', 'Noto Color Emoji', sans-serif;
    font-weight: normal;
    font-feature-settings: 'ss04';
    -moz-font-feature-settings: 'ss04=1';
    -webkit-font-feature-settings: 'ss04';
    margin-left: 3px;
    margin-right: 3px;
}

.mono-text {
    font-family: 'Sezimal Mono', 'Noto Sans Mono', monospace;
    -webkit-font-feature-settings: normal;
    -moz-font-feature-settings: normal;
    -ms-font-feature-settings: normal;
    font-feature-settings: normal;
}

.title {
    font-size: 2rem;
    text-align: center;
    color: #000;
    background: #fafafa;
    line-height: 2rem;

    > a {
        color: #000;
        text-decoration: none;
    }
}

.constant {
/*     font-family: 'Sezimal QP Light' !important; */
    font-family: 'Libertinus Serif', 'Libertinus Math', 'Sezimal QP Light' !important;
    font-size: 1.2rem;
}

.scale-img:hover{
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
    opacity: 1;
    transform: scale(2.5);
    -ms-transform: scale(2.5); /* IE 9 */
    -webkit-transform: scale(2.5); /* Safari and Chrome */
}

.emoji {
    font-family: 'Noto Color Emoji';
}

.rainbow {
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.5rem;
}
.rainbow-red {
    color: #d40000;
}
.rainbow-orange {
    color: #ff6600;
}
.rainbow-yellow {
    color: #ffcc00;
}
.rainbow-green {
    color: #44aa00;
}
.rainbow-cyan {
    color: #00aad4;
}
.rainbow-blue {
    color: #0066ff;
}
.rainbow-indigo {
    color: #0000ff;
}
.rainbow-purple {
    color: #5500d4;
}
.rainbow-magenta {
    color: #d40055;
}
.rainbow-violet {
    color: #aa00d4;
}
.rainbow-bk-red {
    background-color: #d40000;
    font-weight: bold;
}
.rainbow-bk-orange {
    background-color: #ff6600;
    font-weight: bold;
}
.rainbow-bk-yellow {
    background-color: #ffcc00;
    font-weight: bold;
    color: black;
}
.rainbow-bk-green {
    background-color: #44aa00;
    font-weight: bold;
}
.rainbow-bk-cyan {
    background-color: #00aad4;
    font-weight: bold;
}
.rainbow-bk-blue {
    background-color: #0066ff;
    font-weight: bold;
}
.rainbow-bk-indigo {
    background-color: #0000ff;
    font-weight: bold;
}
.rainbow-bk-purple {
    background-color: #5500d4;
    font-weight: bold;
}
.rainbow-bk-magenta {
    background-color: #d40055;
    font-weight: bold;
}
.rainbow-bk-violet {
    background-color: #aa00d4;
    font-weight: bold;
}
.rainbow-ul-red {
    padding: 2px;
    border: 2px #d40000 solid;
    background-color: #550000;
}
.rainbow-ul-orange {
    padding: 2px;
    border: 2px #ff6600 solid;
    background-color: #552200;
}
.rainbow-ul-yellow {
    padding: 2px;
    border: 2px #ffcc00 solid;
    background-color: #806600;
}
.rainbow-ul-green {
    padding: 2px;
    border: 2px #44aa00 solid;
    background-color: #225500;
}
.rainbow-ul-cyan {
    padding: 2px;
    border: 2px #00aad4 solid;
    background-color: #006680;
}
.rainbow-ul-blue {
    padding: 2px;
    border: 2px #0066ff solid;
    background-color: #002255;
}
.rainbow-ul-indigo {
    padding: 2px;
    border: 2px #0000ff solid;
    background-color: #000055;
}
.rainbow-ul-purple {
    padding: 2px;
    border: 2px #5500ff solid;
    background-color: #220055;
}
.rainbow-ul-magenta {
    border-bottom: 4px #d40055 solid;
    border-top:    3px #d40055 solid;
}
.rainbow-ul-violet {
    border-bottom: 4px #aa00d4 solid;
    border-top:    3px #aa00d4 solid;
}


.calendar-time-pointer {
    position: absolute;
    top: 9rem;
    left: 0;
    width: 100%;
    color: #ff0000;
    line-height: 1.2rem;
    font-size: 0.8rem;
    text-align: center;

    span {
        display: flex;
        flex-direction: row;
/*         margin-left: 12.5%; */
    }
    span:before, span:after {
        content: "";
        flex: 1 1;
        border-bottom: 2px solid #ff0000;
        margin: auto;
    }
}

.calendar-time-pointer-weekly {
    position: absolute;
    top: 9rem;
    left: 0;
    width: 100%;
    color: #ff0000;
    line-height: 1.2rem;
    font-size: 0.8rem;
    text-align: center;

    span {
        display: flex;
        flex-direction: row;
/*        margin-left: 6%;*/
    }
    span:before, span:after {
        content: "";
        flex: 1 1;
        border-bottom: 2px solid #ff0000;
        margin: auto;
    }
}

.calendar-header-fixed {
    position: fixed;
    top: 0px;
    background: #000;
    z-index: 999;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}


.calendar-event-list-window {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    border: 4px solid white;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 2%;
    margin-top: 3rem;
    top: 0;
    left: 15%;
    width: 70%;
    height: auto;
    overflow: auto;
    background-color: rgb(0,0,0);
/*  background-color: rgba(0,0,0,0.4);*/
}

.calendar-event-window {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    border: 4px solid white;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 2%;
    margin-top: 3rem;
    top: 0;
    left: 15%;
    width: 70%;
    height: auto;
    overflow: auto;
    background-color: rgb(0,0,0);
/*  background-color: rgba(0,0,0,0.4);*/
}

.hide-in-mobile {
    display: inline;
}
.hide-in-mobile-daily-view-day-in-quarter-year {
    display: inline;
}
.hide-in-mobile-daily-view-am-pm {
    display: inline;
}

.show-in-mobile {
    display: none;
}

.now-content {
    margin-left: auto;
    margin-right: auto;
}

.calendar-header-now {
    top: 0px;
    background: #000;
}

.now-time-24h {
    font-size: 4rem;
    line-height: 0.5rem;
    font-weight: bold;
}
.now-time-12h {
    font-size: 4rem;
    line-height: 0.5rem;
    font-weight: bold;
}
.now-iso-time {
    font-size: 0.8rem;
    line-height: 0.1rem;
}
.now-weekday {
    font-size: 1.5rem;
}
.now-date {
    font-size: 2rem;
    font-weight: bold;
}
.now-weather {
    font-size: 1.5rem;
}
.now-iso-date {
    font-size: 0.8rem;
    line-height: 0.1rem;
}


@media only screen and (max-width: 640px) {
    :root {
        font-size: 1rem;
        line-height: 1.385rem;
    }

    .calendar-time-pointer-weekly {
        span:before, span:after {
            border-bottom: 1px solid #ff0000;
        }
    }

    .now-content {
        width: 100%;
    }
    .now-time-12h {
        font-size: 3.5rem;
        line-height: 0.5rem;
        font-weight: bold;
    }

    .hide-in-mobile {
        display: none;
    }
    .hide-in-mobile-daily-view-day-in-quarter-year {
        display: none;
    }
    .hide-in-mobile-daily-view-am-pm {
        display: none;
    }

    .show-in-mobile {
        display: inline;
    }
}

@media only screen and (max-width: 1024px) {
    .now-content {
        width: 100%;
    }
    .hide-in-mobile {
        display: none;
    }
    .hide-in-mobile-daily-view-day-in-quarter-year {
        display: none;
    }
    .show-in-mobile {
        display: inline;
    }
}

@media only screen and (max-height: 640px) and (orientation: landscape) {
    :root {
        font-size: 1rem;
        line-height: 1.25rem;
    }
    .now-content {
        width: 100%;
    }
    .hide-in-mobile-daily-view-day-in-quarter-year {
        display: none;
    }
    .hide-in-mobile-daily-view-am-pm {
        display: inline;
    }
    .hide-in-mobile {
        display: inline;
    }
    .show-in-mobile {
        display: none;
    }
}

@media only screen and (max-height: 1024px) and (orientation: landscape) {
    .now-content {
        width: 70%;
    }
    .hide-in-mobile {
        display: inline;
    }
    .show-in-mobile {
        display: none;
    }
}

@media only screen and (min-width: 1280px) and (orientation: landscape) {
    .now-content {
        width: 40%;
    }
    .hide-in-mobile {
        display: inline;
    }
    .show-in-mobile {
        display: none;
    }
}

.air-quality {
    background: -moz-linear-gradient(90deg, rgba(0,188,212,1) 10%, rgba(76,175,80,1) 30%, rgba(255,193,7,1) 50%, rgba(255,87,34,1) 70%, rgba(244,67,54,1) 90%);
    background: -webkit-linear-gradient(90deg, rgba(0,188,212,1) 10%, rgba(76,175,80,1) 30%, rgba(255,193,7,1) 50%, rgba(255,87,34,1) 70%, rgba(244,67,54,1) 90%);
    background: linear-gradient(90deg, rgba(0,188,212,1) 10%, rgba(76,175,80,1) 30%, rgba(255,193,7,1) 50%, rgba(255,87,34,1) 70%, rgba(244,67,54,1) 90%);
}

.constellation-calligraphic {
    font-family: 'Constellation Calligraphic';
}
.constellation-fixed {
    font-family: 'Constellation Fixed';
}
.constellation {
    font-family: 'Constellation Fixed';
    font-size: 1.25em;
}
.planet {
    font-family: 'Astromoony';
    font-size: 1.25em;
}

.full-day-color-0 {
    background: rgb(100,181,246);
    background: linear-gradient(
        90deg,
        rgb(  0,   0,   0)  0%    ,  /* #000000 00:00 */
        rgb( 33,  33,  33)  15.28%,  /* #212121 03:40 */
        rgb(121, 134, 203)  18.06%,  /* #7986CB 04:20 */
        rgb( 79, 195, 247)  20.83%,  /* #4FC3F7 05:00 */
        rgb(255, 241, 118)  23.61%,  /* #FFF176 05:40 */
        rgb(255, 241, 118)  58.33%,  /* #FFF176 14:00 */
        rgb(255, 183,  77)  66.67%,  /* #FFB74D 16:00 */
        rgb(229, 115, 115)  75%   ,  /* #E57373 18:00 */
        rgb(186, 104, 200)  79.17%,  /* #BA68C8 19:00 */
        rgb(149, 117, 205)  83.33%,  /* #9575CD 20:00 */
        rgb( 33,  33,  33)  91.67%,  /* #212121 22:00 */
        rgb(  0,   0,   0)  100%     /* #000000 00:00 */
    );
    width: 100%;
}

.full-day-color-4 {
    background: rgb(100,181,246);
    background: linear-gradient(
        90deg,
        rgb(121, 134, 203)      0%,  /* #7986CB 04:00 */
        rgb( 79, 195, 247)   4.17%,  /* #4FC3F7 05:00 */
        rgb(255, 241, 118)   6.94%,  /* #FFF176 05:40 */
        rgb(255, 241, 118)  41.67%,  /* #FFF176 14:00 */
        rgb(255, 183,  77)  50%   ,  /* #FFB74D 16:00 */
        rgb(229, 115, 115)  58.33%,  /* #E57373 18:00 */
        rgb(186, 104, 200)  62.5% ,  /* #BA68C8 19:00 */
        rgb(149, 117, 205)  66.67%,  /* #9575CD 20:00 */
        rgb( 33,  33,  33)  75%   ,  /* #212121 22:00 */
        rgb(  0,   0,   0)  83.33%,  /* #000000 00:00 */
        rgb( 33,  33,  33)  98.61%,  /* #212121 03:40 */
        rgb( 92, 107, 192) 100%      /* #5C6BC0 04:00 */
    );
    width: 100%;
}

.full-day-color-6 {
    background: rgb(100,181,246);
    background: linear-gradient(
        90deg,
        rgb(255, 241, 118)   0%   ,  /* #FFF176 06:00 */
        rgb(255, 241, 118)  33.33%,  /* #FFF176 14:00 */
        rgb(255, 183,  77)  41.67%,  /* #FFB74D 16:00 */
        rgb(229, 115, 115)  50%   ,  /* #E57373 18:00 */
        rgb(186, 104, 200)  54.17%,  /* #BA68C8 19:00 */
        rgb(149, 117, 205)  58.33%,  /* #9575CD 20:00 */
        rgb( 33,  33,  33)  66.67%,  /* #212121 22:00 */
        rgb(  0,   0,   0)  75%   ,  /* #000000 00:00 */
        rgb( 33,  33,  33)  90.28%,  /* #212121 03:40 */
        rgb(121, 134, 203)  91.67%,  /* #5C6BC0 04:00 */
        rgb( 79, 195, 247)  97.22%,  /* #4FC3F7 05:40 */
        rgb(255, 241, 118)  100%     /* #FFF176 06:00 */
    );
    width: 100%;
}

.day-time-passed {
    background-color: rgb(0,0,0);
    float: right;
    margin-top: -0.8rem;
    text-align: left;
    overflow: clip; /* required */
    overflow-clip-margin: 1rem;

}

.day-tick {
    text-align: right;
    color: black;
    float: left;
    margin-top: -0.8rem;
}

.no_selection {
    user-select: none; /* standard syntax */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.moon-emoji {
    display: inline-block;
}

.unit-input {
    width: 9rem;
    font-family: 'Sezimal Mono', 'Noto Sans Symbols', 'Noto Sans Symbols2', 'Noto Sans Mono', monospace;
    text-align: right;
}
.unit-input-small {
    width: 5rem;
    font-family: 'Sezimal Mono', 'Noto Sans Symbols', 'Noto Sans Symbols2', 'Noto Sans Mono', monospace;
    text-align: right;
}

.unit-conversion {
    text-align: right;
    display: inline-block;
}

.conversion-active {
    font-size: 1.5rem;
    font-weight: bold;
}

svg {
    font-family: 'Andika', 'Sezimal QP', 'Sezimal Symbols', 'Noto Sans Hebrew', 'Noto Sans Arabic UI', 'Noto Sans Devanagari UI', 'Noto Sans Bengali UI', 'Inter Alia', 'Noto Sans Shavian', 'Noto Sans Symbols', 'Noto Sans Symbols2', sans-serif !important;
}

text {
    font-family: 'Andika', 'Sezimal QP', 'Sezimal Symbols', 'Noto Sans Hebrew', 'Noto Sans Arabic UI', 'Noto Sans Devanagari UI', 'Noto Sans Bengali UI', 'Inter Alia', 'Noto Sans Shavian', 'Noto Sans Symbols', 'Noto Sans Symbols2', sans-serif !important;
}

textPath {
    font-family: 'Andika', 'Sezimal QP', 'Sezimal Symbols', 'Noto Sans Hebrew', 'Noto Sans Arabic UI', 'Noto Sans Devanagari UI', 'Noto Sans Bengali UI', 'Inter Alia', 'Noto Sans Shavian', 'Noto Sans Symbols', 'Noto Sans Symbols2', sans-serif !important;
}

.watchface {
    width: 75%;
}

@media only screen and (orientation: landscape) {
    .watchface {
        width: 50%;
    }
}

@media only screen and (min-width: 1280px) and (orientation: landscape) {
    .watchface {
        width: 75%;
    }
}
