:root {
    --o-webclient-color-scheme: #000;
    --theme: #000;
    background-color: #000;
    color: #fafafa;

    font-size: 1.5em;
    line-height: 1.875em;

    text-rendering: optimizeLegibility;
    font-variant-ligatures: common-ligatures;

    font-family: 'Sezimal QP', 'Noto Sans Hebrew', 'Noto Sans Arabic UI', 'Noto Sans Devanagari UI', 'Noto Sans Bengali UI', 'Noto Sans Shavian', 'Noto Sans Symbols', 'Noto Sans Symbols2', sans-serif !important;
    --font-family-sans-serif: 'Sezimal QP', 'Noto Sans Symbols', 'Noto Sans Symbols2', 'Noto Sans Mono', monospace;
    --font-family-monospace: 'Sezimal Mono', 'Noto Sans Symbols', 'Noto Sans Symbols2', 'Noto Sans Mono', monospace;
}
html, body {
    height: 100%;
    background-color: #000;
    color: #fafafa;
    margin-left: 2%;
    margin-right: 2%;
/*     max-width: 864px; */
    width: 96%;
    position: relative;
/*     margin: auto; */
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.17rem;
}
h4 {
    font-size: 1rem;
}
h5 {
    font-size: 0.83rem;
}
h6 {
    font-size: 0.67rem;
}
input, p, select, option {
    font-size: 1rem;
    text-rendering: optimizeLegibility;
    font-variant-ligatures: common-ligatures;
    font-family: 'Sezimal QP', 'Noto Sans Hebrew', 'Noto Sans Arabic UI', 'Noto Sans Devanagari UI', 'Noto Sans Bengali UI', 'Noto Sans Shavian', 'Noto Sans Symbols', 'Noto Sans Symbols2', sans-serif !important;
    --font-family-sans-serif: 'Sezimal QP', 'Noto Sans Symbols', 'Noto Sans Symbols2', 'Noto Sans Mono', monospace;
    --font-family-monospace: 'Sezimal Mono', 'Noto Sans Symbols', 'Noto Sans Symbols2', 'Noto Sans Mono', monospace;
}
input {
/*     height: 1.5rem; */
    vertical-align: middle;
}

.buttons {
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: center;
    width: 100%;
}
table {
    table-layout: fixed;
    width: 100%;
    border: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}
td {
    border: 5px;
    padding: 0;
    margin: 0;
}

.unit {
    font-size: 16pt;
    font-weight: normal;
    text-align: center;
    background-color: #212121;
    color: #F5F5F5;
}

.settings {
    font-size: 12pt;

}
td.settings {
    vertical-align: top;
    word-wrap: break-word;
}
label {
    font-weight: bold;
    font-size: 12pt;
}
select {
    font-family: 'Sezimal QP Light';
    font-size: 12pt;
    height: 2.5em;
    text-align: center;
}
select > option {
    font-family: 'Sezimal QP Light';
}
option {
    font-family: 'Sezimal QP Light';
}
option:before {
    font-family: 'Sezimal QP Light';
}

.units {
    font-size: 12pt;
}
td.units {
    vertical-align: top;
    word-wrap: break-word;
}

table.explanation {
    font-size: 12pt;
    padding: 6px;
    border: 1px #fafafa solid;
    border-collapse: collapse;
}
table.explanation td {
    font-size: 12pt;
    padding: 6px;
    border: 1px #fafafa solid;
    border-collapse: collapse;
}
.devanagari {
    font-family: 'Noto Sans Devanagari', sans-serif;
    font-size: 1.2em;
}
a {
    color: #fafafa;
    text-decoration: underline;
/*     color: #212121; */
/*     background-color: black; */
}
a.devanagari {
    font-family: 'Noto Sans Devanagari', sans-serif;
    font-size: 1.2em;
    text-decoration: none;
    color: #2E7D32;
}

.horizontal-flip {
    display: inline-block;
    transform: scale(-1, 1);
}
.vertical-flip {
    display: inline-block;
    transform: scale(1, -1);
}
.help-text {
    font-size: 14pt;
    text-align: left;
    line-height: 2em;
/*     font-variant-numeric: diagonal-fractions; */
}
math {
    font-family: 'Sezimal QP Light', 'Noto Sans';
}
mn {
    margin: 6px;
}
.units-explanation {
/*     font-size: 14pt; */
    text-align: left;

/*     font-variant-numeric: diagonal-fractions; */

    .title {
/*         font-size: 18pt; */
        text-align: center;
/*         font-weight: bold; */
        color: #000;
        background: #fafafa;
    }
    .origin {
/*         font-weight: bold; */
        background: #666;
        color: #fafafa;
    }
    .conversion-title {
/*         font-weight: bold; */
        background: #666;
        color: #fafafa;
    }
    .decimal {
        font-style: italic;
        color: #777;
    }
    td {
/*         font-size: 10pt; */
        width: auto;
        line-height: 2em;
        overflow: hidden;
        text-overflow: '…';
    }
/*    mfrac {
        font-size: 18pt;
    }*/
    a {
        text-decoration: none;
        color: #2E7D32;
    }
    a.reference {
        text-decoration: none;
        color: #fafafa;
    }

}

}
.mono-text {
    font-family: 'Sezimal Mono', 'Noto Sans Mono', monospace;
}
.center {
    text-align: center;
}

.tooltip {
  position: relative;
  display: inline-block;
  /* If you want dots under the hoverable text */
/*   border-bottom: 1px dotted #fafafa;  */
}

/* Tooltip text */
.tooltip .tooltip-text {
  visibility: hidden;
  width: 150px;
  background-color: #212121;
  color: #fafafa;
  font-size: 0.8rem;
  line-height: 1.5em;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #fafafa transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.dimension {
    font-family: 'Noto Sans', 'Noto Sans Math', 'Noto Sans Symbols', 'Noto Sans Symbols2', 'Noto Color Emoji', sans-serif;
    font-weight: normal;
    font-feature-settings: 'ss04';
    -moz-font-feature-settings: 'ss04=1';
    -webkit-font-feature-settings: 'ss04';
    margin-left: 3px;
    margin-right: 3px;
}

.mono-text {
    font-family: 'Sezimal Mono', monospace;
}

.title {
    font-size: 2rem;
    text-align: center;
    color: #000;
    background: #fafafa;
    line-height: 2rem;

    > a {
        color: #000;
        text-decoration: none;
    }
}

.constant {
/*     font-family: 'Sezimal QP Light' !important; */
    font-family: 'Libertinus Serif', 'Libertinus Math', 'Sezimal QP Light' !important;
    font-size: 1.2rem;
}

.scale-img:hover{
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
    opacity: 1;
    transform: scale(2.5);
    -ms-transform: scale(2.5); /* IE 9 */
    -webkit-transform: scale(2.5); /* Safari and Chrome */
}

.emoji {
    font-family: 'Noto Color Emoji';
}

.rainbow {
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.5rem;
}
.rainbow-red {
    color: #d40000;
}
.rainbow-orange {
    color: #ff6600;
}
.rainbow-yellow {
    color: #ffcc00;
}
.rainbow-green {
    color: #44aa00;
}
.rainbow-cyan {
    color: #00aad4;
}
.rainbow-blue {
    color: #0066ff;
}
.rainbow-indigo {
    color: #0000ff;
}
.rainbow-purple {
    color: #5500d4;
}
.rainbow-magenta {
    color: #d40055;
}
.rainbow-violet {
    color: #aa00d4;
}

.calendar-time-pointer {
    position: absolute;
    top: 9rem;
    left: 0;
    width: 100%;
    color: #ff0000;
    line-height: 1.2rem;
    font-size: 0.8rem;
    text-align: center;

    span {
        display: flex;
        flex-direction: row;
/*         margin-left: 12.5%; */
    }
    span:before, span:after {
        content: "";
        flex: 1 1;
        border-bottom: 2px solid #ff0000;
        margin: auto;
    }
}

.calendar-time-pointer-weekly {
    position: absolute;
    top: 9rem;
    left: 0;
    width: 100%;
    color: #ff0000;
    line-height: 1.2rem;
    font-size: 0.8rem;
    text-align: center;

    span {
        display: flex;
        flex-direction: row;
/*        margin-left: 6%;*/
    }
    span:before, span:after {
        content: "";
        flex: 1 1;
        border-bottom: 2px solid #ff0000;
        margin: auto;
    }
}

.calendar-header-fixed {
    position: fixed;
    top: 0px;
    background: #000;
    z-index: 999;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}


.calendar-event-list-window {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    border: 4px solid white;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 2%;
    margin-top: 3rem;
    top: 0;
    left: 15%;
    width: 70%;
    height: auto;
    overflow: auto;
    background-color: rgb(0,0,0);
/*  background-color: rgba(0,0,0,0.4);*/
}

.calendar-event-window {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    border: 4px solid white;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 2%;
    margin-top: 3rem;
    top: 0;
    left: 15%;
    width: 70%;
    height: auto;
    overflow: auto;
    background-color: rgb(0,0,0);
/*  background-color: rgba(0,0,0,0.4);*/
}

.hide-in-mobile {
    display: inline;
}
.hide-in-mobile-daily-view-day-in-quarter-year {
    display: inline;
}
.hide-in-mobile-daily-view-am-pm {
    display: inline;
}

.show-in-mobile {
    display: none;
}

.now-content {
    margin-left: auto;
    margin-right: auto;
}

.calendar-header-now {
    top: 0px;
    background: #000;
}

.now-time-24h {
    font-size: 4rem;
    line-height: 0.5rem;
    font-weight: bold;
}
.now-time-12h {
    font-size: 4rem;
    line-height: 0.5rem;
    font-weight: bold;
}
.now-iso-time {
    font-size: 0.8rem;
    line-height: 0.1rem;
}
.now-weekday {
    font-size: 1.5rem;
}
.now-date {
    font-size: 2rem;
    font-weight: bold;
}
.now-weather {
    font-size: 1.5rem;
}
.now-iso-date {
    font-size: 0.8rem;
    line-height: 0.1rem;
}


@media only screen and (max-width: 640px) {
    :root {
        font-size: 1rem;
        line-height: 1.25rem;
    }

    .calendar-time-pointer-weekly {
        span:before, span:after {
            border-bottom: 1px solid #ff0000;
        }
    }

    .now-content {
        width: 100%;
    }
    .now-time-12h {
        font-size: 3.5rem;
        line-height: 0.5rem;
        font-weight: bold;
    }

    .hide-in-mobile {
        display: none;
    }
    .hide-in-mobile-daily-view-day-in-quarter-year {
        display: none;
    }
    .hide-in-mobile-daily-view-am-pm {
        display: none;
    }

    .show-in-mobile {
        display: inline;
    }
}

@media only screen and (max-width: 1024px) {
    .now-content {
        width: 100%;
    }
    .hide-in-mobile {
        display: none;
    }
    .hide-in-mobile-daily-view-day-in-quarter-year {
        display: none;
    }
    .show-in-mobile {
        display: inline;
    }
}

@media only screen and (max-height: 640px) and (orientation: landscape) {
    :root {
        font-size: 1rem;
        line-height: 1.25rem;
    }
    .now-content {
        width: 100%;
    }
    .hide-in-mobile-daily-view-day-in-quarter-year {
        display: none;
    }
    .hide-in-mobile-daily-view-am-pm {
        display: inline;
    }
    .hide-in-mobile {
        display: inline;
    }
    .show-in-mobile {
        display: none;
    }
}

@media only screen and (max-height: 1024px) and (orientation: landscape) {
    .now-content {
        width: 70%;
    }
    .hide-in-mobile {
        display: inline;
    }
    .show-in-mobile {
        display: none;
    }
}

@media only screen and (min-width: 1280px) and (orientation: landscape) {
    .now-content {
        width: 40%;
    }
    .hide-in-mobile {
        display: inline;
    }
    .show-in-mobile {
        display: none;
    }
}

.air-quality {
    background: -moz-linear-gradient(90deg, rgba(0,188,212,1) 10%, rgba(76,175,80,1) 30%, rgba(255,193,7,1) 50%, rgba(255,87,34,1) 70%, rgba(244,67,54,1) 90%);
    background: -webkit-linear-gradient(90deg, rgba(0,188,212,1) 10%, rgba(76,175,80,1) 30%, rgba(255,193,7,1) 50%, rgba(255,87,34,1) 70%, rgba(244,67,54,1) 90%);
    background: linear-gradient(90deg, rgba(0,188,212,1) 10%, rgba(76,175,80,1) 30%, rgba(255,193,7,1) 50%, rgba(255,87,34,1) 70%, rgba(244,67,54,1) 90%);
}

.constellation-calligraphic {
    font-family: 'Constellation Calligraphic';
}
.constellation-fixed {
    font-family: 'Constellation Fixed';
}
.constellation {
    font-family: 'Constellation Fixed';
    font-size: 1.25em;
}
.planet {
    font-family: 'Astromoony';
    font-size: 1.25em;
}

.full-day-color-0 {
    background: rgb(100,181,246);
    background: linear-gradient(
        90deg,
        rgb(121, 134, 203)  0%    ,  /* #5C6BC0 00:00 */
        rgb(121, 134, 203)  13.89%,  /* #7986CB 03:20 */
        rgb( 79, 195, 247)  22.22%,  /* #4FC3F7 05:20 */
        rgb(255, 241, 118)  27.78%,  /* #FFF176 06:40 */
        rgb(255, 241, 118)  41.67%,  /* #FFF176 10:00 */
        rgb(255, 183,  77)  58.33%,  /* #FFB74D 14:00 */
        rgb(229, 115, 115)  66.67%,  /* #E57373 16:00 */
        rgb(186, 104, 200)  75%   ,  /* #BA68C8 18:00 */
        rgb(149, 117, 205)  83.33%,  /* #9575CD 20:00 */
        rgb(121, 134, 203)  91.67%,  /* #7986CB 22:00 */
        rgb(121, 134, 203) 100%      /* #5C6BC0 00:00 */
    );
    width: 100%;
}

.full-day-color-4 {
    background: rgb(100,181,246);
    background: linear-gradient(
        90deg,
        rgb( 79, 195, 247)      0%,  /* #4FC3F7 04:00 */
        rgb(255, 241, 118)   8.33%,  /* #FFF176 06:00 */
        rgb(255, 241, 118)  25%   ,  /* #FFF176 10:00 */
        rgb(255, 183,  77)  41.67%,  /* #FFB74D 14:00 */
        rgb(229, 115, 115)  50%   ,  /* #E57373 16:00 */
        rgb(186, 104, 200)  58.33%,  /* #BA68C8 18:00 */
        rgb(149, 117, 205)  66.67%,  /* #9575CD 20:00 */
        rgb(121, 134, 203)  75%   ,  /* #7986CB 22:00 */
        rgb(121, 134, 203)  83.33%,  /* #5C6BC0 00:00 */
        rgb(121, 134, 203)  97.22%   /* #7986CB 03:20 */
    );
    width: 100%;
}

.full-day-color-6 {
    background: rgb(100,181,246);
    background: linear-gradient(
        90deg,
        rgb( 79, 195, 247)      0%,  /* #4FC3F7 06:00 */
        rgb(255, 241, 118)   2.78%,  /* #FFF176 06:40 */
        rgb(255, 241, 118)  16.67%,  /* #FFF176 10:00 */
        rgb(255, 183,  77)  33.33%,  /* #FFB74D 14:00 */
        rgb(229, 115, 115)  41.67%,  /* #E57373 16:00 */
        rgb(186, 104, 200)  50%   ,  /* #BA68C8 18:00 */
        rgb(149, 117, 205)  58.33%,  /* #9575CD 20:00 */
        rgb(121, 134, 203)  66.67%,  /* #7986CB 22:00 */
        rgb(121, 134, 203)  75%   ,  /* #5C6BC0 00:00 */
        rgb(121, 134, 203)  88.89%,  /* #7986CB 03:20 */
        rgb( 79, 195, 247)  97.22%   /* #4FC3F7 05:20 */
    );
    width: 100%;
}

.day-time-passed {
    background-color: rgb(0,0,0);
    float: right;
    margin-top: -0.8rem;
    text-align: left;
    overflow: clip; /* required */
    overflow-clip-margin: 1rem;

}

.day-tick {
    text-align: right;
    font-size: 1.2rem;
    color: black;
    float: left;
    margin-top: -0.8rem;
}

